.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($font-color, .8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px), brightness(20%);
        backdrop-filter: blur(10px);
        background-color: rgba($font-color, .3);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(50%, 50%) scale(1)
    }

    &__close {

        &:link,
        &:visited {
            color: $gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1rem;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        // @include absCenter;

        width: 50%;
        background-color: $white;
        box-shadow: 0 2rem 4rem rgba($font-color, .2);
        border-radius: 3px;
        display: table;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s;
        overflow: hidden;

        // @include respond (tab-port) {
        //     width: 70%;
        // }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        // @include respond (tab-port) {
        //     width: 100%;
        //     display: inline-block;
        //     padding: 0;
        // }
    }

    &__right {
        width: 66.666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        // @include respond (tab-port) {
        //     width: 100%;
        //     display: inline-block;
        //     padding: 3rem;
        // }
    }

    &__img {
        display: block;
        width: 100%;
        margin-bottom: -2px;

        &-left {
            // @include respond (tab-port) {
            //     float: left;
            //     width: 50%;
            // }
        }

        &-right {
            // @include respond (tab-port) {
            //     float: left;
            //     width: 50%;
            //     margin-top: -.8rem;
            // }
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $gray-light;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $gray-light;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

}