.page--huddle .header {
    background-color: $gray-lightest;
}

.project-details {
    display: grid;
    grid-template-columns: minmax(35rem, 45rem) minmax(30rem, 40rem);
    grid-template-rows: 10rem minmax(10rem, 1fr);
    grid-column-gap: 10rem;
    row-gap: 6rem;
    justify-content: center;

    padding: 10rem 10rem 15rem 10rem;
    background-color: $gray-lightest;
    

    &__title {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: start;
        padding-bottom: 3rem;
    }

    &__img {
        box-shadow: $box-shadow-dark;
        display: block;
    }

    &__name {
        margin-bottom: .5rem;

        & span {
            font-weight: 500;
        }
    }

    &__technologies {

        & span {
            font-weight: 500;
        }
    }

    &__concept {
        font-weight: 500;
        margin-bottom: 1rem;
    }
    &__button--site,
    &__button--code {
        margin-top: 1rem;
        border-radius: 5rem;
        display: inline-block;
    }

    &__button--site {
        margin-right: 3rem;
        background-color: $font-color;
        color: $white;
        border: 2px solid $font-color;
        padding: .7rem 4rem;
        transition: all .2s;
        
        &:hover {
            transform: scale(1.05, 1.05);
            margin-right: 3rem;
            // background-color: $white;
            // color: $font-color;
            // border: 2px solid $font-color;
            padding: .7rem 4rem;
        }
    }
    
    &__button--code {
        margin-right: 3rem;
        background-color: transparent;
        color: $font-color;
        border: 2px solid $font-color;
        padding: .7rem 3rem;
        
        &:hover {
            transform: scale(1.05, 1.05);
            transition: all .2s;
            margin-right: 3rem;
            // background-color: $font-color;
            // color: $white;
            // border: 2px solid $font-color;
            padding: .7rem 3rem;
        }
    }
}

.project-process {
    grid-column: span 2;
    
    &__title {
        font-weight: 400;
        padding: 5rem 0 2rem 0;
        text-align: center;
        
    }
    
    &__list {
        padding: 0 3rem;
    }

}