.header {
	background-image: url('../img/bg-hero-desktop.svg');
	background-repeat: none;
	background-size: cover;
	background-position: center center;
	background-color: hsl(193, 100%, 96%);
	padding: 5rem 0 2rem 0;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 0 0 2rem 0;
    
    &__logo {
        width: 19rem;
        height: 100%;
    }

    &__button {
        font-size: 1.4rem;
        font-weight: 700;
        background-color: #fff;
        color: hsl(192, 100%, 9%);
        padding: 1.5rem 6rem;
        border: none;
        border-radius: 5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}